<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProofOfConcept.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31AD60C8DF541D949B7CDB2E</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>31AD62191299C3F8896BC05D</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>31AD686143DC72FA959B61C8</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
